# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# Get my IP
alias ip="curl icanhazip.com"

# Shortcuts
alias db="cd ~/Dropbox"
alias ds="cd ~/Desktop"
alias g="git"
alias h="hg"
alias s="subl"
alias ss="subl ."
alias o="open"
alias oo="open ."

# List all files colorized in long format, including dot files
alias l="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

# Servers
alias tw="cd /twww"
alias twd="cd /twww/-dev"
alias twv="cd /twww/-vhosts"
alias tww="cd /twww/-www"
alias twi="cd /twww/-internal"
alias td="cd /tjbdev"
alias tdc="cd /tjbdev/clients"
alias tdi="cd /tjbdev/internal"

alias lw="cd /www"
alias ld="cd /dwww"
alias lv="cd /vwww"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Mercurial
alias hgg="subl ./.hgignore"

# Git
alias gg="subl ./.gitignore"

# MAMP
alias serve="mysql.server start && sudo apachectl -k start"
alias unserve="mysql.server stop && sudo apachectl -k stop"

# Manage Virtual Hosts
alias vhost="subl /Users/thomasjbradley/Dropbox/Preferences/MAMP/httpd-vhosts.conf /etc/hosts"
alias vhosts="vhost"

# Get my local IP
alias localip="ipconfig getifaddr en1"

# Some tree shortcuts to see only certain depths
alias l1="tree --dirsfirst -ChFL 1"
alias l2="tree --dirsfirst -ChFL 2"
alias l3="tree --dirsfirst -ChFL 3"
alias l4="tree --dirsfirst -ChFL 4"
alias l5="tree --dirsfirst -ChFL 5"
alias l6="tree --dirsfirst -ChFL 6"
