export EDITOR='subl -w'

PATH="$(brew --prefix coreutils)/libexec/gnubin"
PATH=$HOME/bin
PATH=$PATH:/usr/local/share/python
PATH=$PATH:/usr/local/bin
PATH=$PATH:/usr/local/sbin
PATH=$PATH:/usr/local/share/npm/bin

export PATH

export MANPATH=$MANPATH:/opt/local/share/man

export PYTHONPATH=$PYTHONPATH:.

export NODE_PATH=/usr/local/lib/node_modules:$NODE_PATH
