export EDITOR='subl -w'

PATH=~/.rbenv/shims:$PATH
PATH=/usr/local/share/npm/bin:$PATH
PATH=/usr/local/sbin:$PATH
PATH=/usr/local/bin:$PATH
PATH=/db/bin:$PATH
PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
PATH=~/.composer/vendor/bin:$PATH
PATH=/usr/local/opt/go/libexec/bin:$PATH
PATH=/usr/local/opt/python/libexec/bin:$PATH
PATH=/Applications/Postgres.app/Contents/Versions/latest/bin:$PATH

export PATH

export CDPATH=".:/www:/ds"

export MANPATH=$MANPATH:/opt/local/share/man

export PYTHONPATH=$PYTHONPATH:.

export NODE_PATH=/usr/local/lib/node_modules:/usr/local/share/npm/lib/node_modules:$NODE_PATH

export DOCKER_HOST=tcp://127.0.0.1:4243

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

source ~/.exports-private
