[alias]
  c = commit -m
  com = commit
  co = checkout
  cl = clone
  b = branch
  nb = checkout -b
  a = add
  aa = add .
  ar = add -A
  l = log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph
  s = status -sb
  si = status --ignore-submodules
  d = diff --patch-with-stat
  dt = difftool
  ds = diff --staged
  p = push
  t = tag
  pt = push --tags
  pu = pull
  sm = submodule
  m = merge
  mt = mergetool
  amend = commit --amend -C HEAD
  undo = reset --soft HEAD~1
  r = rebase -i
  cp = cherry-pick
  unstage = rm --cached

  # Pull in remote changes for the current repository and all its submodules
  pusm = !"git pull; git submodule foreach git pull origin master"
  # Push all branches and set them as upstream tracking
  pa = push --all origin -u

[apply]
  whitespace = fix

[user]
	name = Thomas J Bradley
	email = hey@thomasjbradley.ca

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[diff]
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool]
  prompt = false

[merge]
  tool = Kaleidoscope

[color]
  ui = always

[core]
  excludesfile = ~/.gitignore
  quotepath = false
  attributesfile = ~/.gitattributes
	editor = code --wait

[help]
  autocorrect = 1

[push]
  default = simple

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[pull]
	rebase = false
