[alias]
  c = commit -m
  com = commit
  co = checkout
  cl = clone
  b = branch
  nb = checkout -b
  a = add
  aa = add .
  ar = add -A
  l = log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph
  s = status -sb
  si = status --ignore-submodules
  d = diff --patch-with-stat
  dt = difftool
  p = push
  t = tag
  pt = push --tags
  sm = submodule

  # Pull in remote changes for the current repository and all its submodules
  pu = !"git pull; git submodule foreach git pull origin master"

[user]
  name = Thomas J Bradley
  email = theman@thomasjbradley.ca

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[color]
  ui = auto

[core]
  excludesfile = /Users/thomasjbradley/.gitignore
  quotepath = false

[help]
  autocorrect = 1
[push]
  default = simple
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope
